<h1>InDesign</h1>
<h2>Art And Newspaper Pages Made With InDesign</h2>
<app-portfolio-lightbox portfolioURL='/assets/in1.json'></app-portfolio-lightbox>
<app-portfolio-lightbox portfolioURL='/assets/in2.json'></app-portfolio-lightbox>
<app-portfolio-lightbox portfolioURL='/assets/in3.json'></app-portfolio-lightbox>
<app-portfolio-lightbox portfolioURL='/assets/in4.json'></app-portfolio-lightbox>
<app-portfolio-lightbox portfolioURL='/assets/in5.json'></app-portfolio-lightbox>
<app-portfolio-lightbox portfolioURL='/assets/in6.json'></app-portfolio-lightbox>
