<div class="fill">
	<img src="https://i.pinimg.com/originals/0d/6b/de/0d6bdecb3a417b0f42abd093dfbd1255.jpg">
	<div class="centered">SeudoArt</div>
</div>
<app-portfolio-lightbox portfolioURL='/assets/introPage.json'></app-portfolio-lightbox>
<div class="homei">
<app-portfolio-lightbox portfolioURL='/assets/contact.json'></app-portfolio-lightbox>
</div>
<div class="footer">
	<div class="mid">
		<h2>Contact us At</h2>
		<h3>rebeccahuynh7@gmail.com</h3>

	</div>
	<ul>
		<li><a href="#">Home </a></li>
		<li><a href="#">About </a></li>
		<li><a href="#">Contact Me </a></li>
	</ul>